
@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@

@*<h2>Royal Tea</h2>

    <p>
        Bên cạnh những tự hào về những ly trà sữa ngon-sạch-tươi,chúng tôi luôn tự tin mang đến khách hàng những trải nghiệm tốt nhất về dịch vụ và không gian.
    </p>*@

<section id="home" class="fullheight align-items-center bg-img bg-img-fixed"
         @*style="background-image: ;*@>
    <div class="container">
        <div class="row">
            <div class="col-6 col-xs-12">
                <div class="slogan">
                    <h1>
                        Royal Tea
                    </h1>
                    <p>
                        Bên cạnh những tự hào về những ly trà sữa ngon-sạch-tươi,chúng tôi luôn tự tin mang đến khách hàng những
                        trải nghiệm tốt nhất về dịch vụ và không gian.
                    </p>
                    <button onclick="location.href='#food-menu-section'">
                        Order Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
